
.card {
    width: 250px;
    height: 350px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    margin-left: 90px;
}
.card2 {
    width: 250px;
    height: 350px;
    background-color: #1a1a1a;
    border-radius:10px;
    transition: all .2s;
    
}
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.image{
    height: 20px;
}
.image1{
    margin:0 auto;
    width: 200px;
    height: 200px;
    display: block;
    border: solid 5px white;
}

button {
    --glow-color: rgb(133, 203, 235);
    --glow-spread-color: rgba(140, 196, 206, 0.781);
    --enhanced-glow-color: rgb(83, 80, 80);
    --btn-color: rgb(104, 127, 231);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color:black;
    font-size: 10px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    display: block;
    margin: 0 auto;

}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}
.separador{
    height: 10px;
}
.fila1{
    display: flex;

    margin: 70px 10px 50px 50px;
}

.fila2{
    display: flex;
    margin: 100px 10px 50px 50px;
}