<div class="fila1" >
    
<div class="card">
    <div class="card2">
        <div class="image" >

        </div>
        <div><img class="image1" src="https://i1.sndcdn.com/artworks-000108108976-y0h6ua-t500x500.jpg" alt="image1">
        </div>
        <div class="separador" ></div>
        <button> 
            <a href="https://www.youtube.com/watch?v=KWZGAExj-es">Reproducir</a>
</button>
        
        <div class="separador" ></div>
        <button> 
            <a href="https://www.y2mate.com/es/youtube/KWZGAExj-es">Descargar</a>
        </button>
    </div>
</div>

<div class="card">
    <div class="card2">
        <div class="image" >

        </div>
        <div><img class="image1" src="https://i.pinimg.com/originals/26/81/92/268192701f9227d4875c0dde92ad9b1c.jpg" alt="image1">
        </div>
        <div class="separador" ></div>
        <button> 
            <a href="https://www.youtube.com/watch?v=J_QGZspO4gg">Reproducir</a>
</button>
        
        <div class="separador" ></div>
        <button>
            <a href="https://www.y2mate.com/es/youtube/J_QGZspO4gg">Descargar</a> 
        </button>
    </div>
</div>

<div class="card">
    <div class="card2">
        <div class="image" >

        </div>
        <div><img class="image1" src="https://i1.sndcdn.com/artworks-000193023556-q627pf-t500x500.jpg" alt="image1">
        </div>
        <div class="separador" ></div>
        <button> 
            <a href="https://www.youtube.com/watch?v=4NhKWZpkw1Q">Reproducir</a>
</button>
        <div class="separador" ></div>
        <button>
            <a href="https://www.y2mate.com/es/youtube/4NhKWZpkw1Q">Descargar</a>
        </button>
    </div>
</div>
</div>


<div class="fila2" >
    
    <div class="card">
        <div class="card2">
            <div class="image" >
    
            </div>
            <div><img class="image1" src="https://i1.sndcdn.com/artworks-000140400988-2gay0g-t500x500.jpg" alt="image1">
            </div>
            <div class="separador" ></div>
            <button> 
                <a href="https://www.youtube.com/watch?v=YeINCMyrIyE">Reproducir</a>
    </button>
            
            <div class="separador" ></div>
            <button> 
                <a href="https://www.y2mate.com/es/youtube/t2NgsJrrAyM">Descargar</a>
            </button>
        </div>
    </div>
    
    <div class="card">
        <div class="card2">
            <div class="image" >
    
            </div>
            <div><img class="image1" src="https://upload.wikimedia.org/wikipedia/commons/2/28/Sia-The_Greatest.jpg" alt="image1">
            </div>
            <div class="separador" ></div>
            <button> 
                <a href="https://www.youtube.com/watch?v=F4yV1UOo9r8">Reproducir</a>
    </button>
            <div class="separador" ></div>
            <button> 
                <a href="https://www.y2mate.com/es/youtube/GKSRyLdjsPA">Descargar</a>
            </button>
        </div>
    </div>
    
    <div class="card">
        <div class="card2">
            <div class="image" >
    
            </div>
            <div><img class="image1" src="https://i.pinimg.com/originals/13/9e/cc/139eccab3b266383a50e7018980f6b74.jpg" alt="image1">
            </div>
            <div class="separador" ></div>
            <button> 
                <a href="https://www.youtube.com/watch?v=Hb59qwdtxiU">Reproducir</a>
    </button>
            <div class="separador" ></div>
            <button> 
                <a href="https://www.y2mate.com/es/youtube/T84LqClui9A">Descargar</a>
            </button>
        </div>
    </div>
    </div>
    