
 <div class="fila3" >
    
<div class="footer2" >
    Si4:
    cantante estado unidense dedicada a la musica country pop.
    <p>
    </div>
     <div><div  class="datos" >
        <ul>
            <li>Autora de pagina:Karla Avila</li>
            <li>Fecha de programación:29/03/2022</li>
            <li>E-mail:Abihailavila01@gmail.com</li>
        </ul>

    </div></div>
    <div>
        <img  class="hola" src="https://los40es00.epimg.net/los40/imagenes/2018/12/18/musica/1545135055_085684_1545141846_noticia_normal.jpg" alt="sia">
    </div>
 </div>
<footer class="copy" >
    <h3>@"COPYRIGTH 666 sia corporation 2022, derechos reservados"
    </h3>
  </footer>
 
